.flex-col {
    display: flex;
    flex-direction: column;
}
.page {
    padding: 7.75rem 3.63rem 7.38rem;
    background-color: #ffffff;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.talklist {
    margin-right: 2.31rem;
    background-color: #cccccc00;
    height: 35.44rem;
    border-left: solid 0.063rem #000000;
    border-right: solid 0.063rem #000000;
    border-top: solid 0.063rem #000000;
    border-bottom: solid 0.063rem #000000;
}

/*文字框+两个按钮整体布局*/
.flex-row {
    display: flex;
    flex-direction: row;
}
.mt-38 {
    margin-top: 2.38rem;
}

/*文字框布局*/
.flex-1 {
    float: left;
    flex: 1 1 0;
}
.chat {
    background-color: #cccccc00;
    height: 11.06rem;
    border-left: solid 0.063rem #000000;
    border-right: solid 0.063rem #000000;
    border-top: solid 0.063rem #000000;
    border-bottom: solid 0.063rem #000000;
}

/*两个按钮整体布局*/
.shrink-0 {
    flex-shrink: 0;
}
.flex-col {
    float: right;
    display: flex;
    flex-direction: column;
}
.ml-20 {
    margin-left: 1.25rem;
}
.buttongroup {
    margin-right: 2.31rem;
    /*width: 8.75rem;*/
}


/*按钮*/
.mt-52 {
    margin-top: 3.25rem;
}
.sendbutton {
    background-color: #cccccc00;
    /*height: 3.88rem;*/
    border-left: solid 0.063rem #000000;
    border-right: solid 0.063rem #000000;
    border-top: solid 0.063rem #000000;
    border-bottom: solid 0.063rem #000000;
}